* {
    font-family: "Minecraft", "JetBrainsMono Nerd Font";
    background-image: none;
    transition: 0.2s;
}

window {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
}

button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08); /* Efecto cristal */
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    margin: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%; /* Iconos más pequeños y elegantes */
}

button:focus, button:active, button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline-style: none;
}

/* Enlazando los iconos del sistema al diseño */
#lock { background-image: url("/usr/share/wlogout/icons/lock.png"); }
#logout { background-image: url("/usr/share/wlogout/icons/logout.png"); }
#suspend { background-image: url("/usr/share/wlogout/icons/suspend.png"); }
#hibernate { background-image: url("/usr/share/wlogout/icons/hibernate.png"); }
#shutdown { background-image: url("/usr/share/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/usr/share/wlogout/icons/reboot.png"); }
